.dashboard-container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 400px; /* Ensures the container takes full height */
  background-image: url('../image/employer.png');
  background-size: cover;
  background-position: center;
  
}

/* Overlay */
.dashboard-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.692); /* Adjust the opacity for the desired effect */
  z-index: 1;
}

.dashboard-content {
  color: #fff;
  flex: 1;
  padding: 20px;
 /* Light background with transparency */
  position: relative;
  z-index: 2; /* Ensure content is above the overlay */
}

.dashboard-content h1 {
  margin-bottom: 20px;
  color: #333; /* Text color for better readability on the light background */
}
